<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @candidate.cpf %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @candidate.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @candidate.gender %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
